<div class="login">
	<div class="login-screen">
	  <div class="app-title">
		<h1>Welcome</h1>
	  </div>
  
	  <div class="login-form">
		<form (ngSubmit)="login()">
		  <div class="control-group">
			<input type="text" class="login-field" value="" placeholder="username" id="login-name" 
				   [(ngModel)]="loginModel.Username" name="username" required>
			<label class="login-field-icon fui-user" for="login-name"></label>
		  </div>
  
		  <div class="control-group">
			<input type="password" class="login-field" value="" placeholder="password" id="login-pass"
				   [(ngModel)]="loginModel.Password" name="password" required>
			<label class="login-field-icon fui-lock" for="login-pass"></label>
		  </div>
  
		  <button type="submit" class="btn btn-primary btn-large btn-block">Login</button>
		  <a class="login-link" href="#" (click)="forgotPassword()">Lost your password?</a>
		</form>
	  </div>
	</div>
  </div>