<div class="edit-user-form">
    <h2>Thêm người dùng mới</h2>
    <form (ngSubmit)="submitForm(customerForm)" #customerForm="ngForm"> 
        <div class="form-group">
            <label for="cccd">CCCD:</label>
            <input type="text" id="cccd" name="cccd" [(ngModel)]="newCustomer.cccd" required />
        </div>
        <div class="form-group">
            <label for="fullName">Họ và tên:</label>
            <input type="text" id="fullName" name="fullName" [(ngModel)]="newCustomer.fullName" required />
        </div>
        <div class="form-group">
            <label for="studentId">Mã sinh viên:</label>
            <input type="text" id="studentId" name="studentId" [(ngModel)]="newCustomer.studentId" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="newCustomer.email" required />
        </div>
        <div class="form-group">
            <label for="phoneNumber">Số điện thoại:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="newCustomer.phoneNumber" />
        </div>
        <div class="form-actions">
            <button type="submit">Thêm mới</button>
            <button type="button" (click)="cancel()">Hủy</button>
        </div>
    </form>
</div>
