<div *ngIf="isLoading" class="loading">Đang tải dữ liệu...</div>

<div *ngIf="!isLoading && book" class="book-detail-card">
  <h2>{{ book.title }}</h2>
  <p><strong>Tác giả:</strong> {{ book.author }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Năm xuất bản:</strong> {{ book.publishYear }}</p>
  <p><strong>Số lượng:</strong> {{ book.quanity }}</p>
  <p><strong>Thể loại:</strong> {{ book.category?.name }}</p>
  <button class="btn btn-back" (click)="goBack()">Quay lại</button>
</div>
